<%= provide(:title, "Guidelines") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical-large">
      <div class="mid-container">

        <div class="category-image-container link-color">
          <img class="thumbnail-image" src="https://i.imgur.com/LiJwzvs.jpg">
          <div class="category-image-centered mid-text">
            Guidelines
          </div>
        </div>

      </div>
    </div>

    <div class="padding-bottom-large">
      <div class="form-container form-border">

        <div class="padding-bottom">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical">
          
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical mid-text">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-vertical">
          
        </div>

        <div class="padding-top">
          
        </div>

      </div>
    </div>
  </div>
</div>