<%= provide(:title, "Guidelines") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical-large">
      <div class="mid-container">

        <div class="category-image-container link-color">
          <img class="thumbnail-image" src="https://i.imgur.com/LiJwzvs.jpg">
          <div class="category-image-centered mid-text">
            Guidelines
          </div>
        </div>

      </div>
    </div>

    <div class="padding-bottom-large">
      <div class="form-container form-border">

        <div class="padding-bottom">
          I wish there didn't have to be rules, but there has to be rules. Here's a list of them.
        </div>

        <div class="padding-vertical mid-text">
          What happens if I can't follow the guidelines?
        </div>

        <div class="padding-vertical">
          Unfortunately, if you can't play nice and follow these guidelines, you'll end up with an account ban.
        </div>

        <div class="padding-vertical mid-text">
          What happens if I get banned?
        </div>

        <div class="padding-vertical">
          If you get banned, you will not be able upload videos, create comments, or subscribe to anyone. You'll still keep your current subscribers, but new people will not be able to subscribe to you. At the momemnt, there is no way to appeal a ban, so be careful.
        </div>

        <div class="padding-vertical">
          Anyway, here we go!
        </div>

        <div class="padding-vertical mid-text">
          You must only upload content that you have created or have the copyright for.
        </div>

        <div class="padding-vertical">
          This means do NOT upload a video that isn't yours or you don't have the copyright for. This means DO uplaod a video that you have created and have the copyright for. It's obvious. Tea Tree is a place for quality content. Not stolen stuff. (That's what the black market is for.)
        </div>

        <div class="padding-vertical">
          If you do see something that you've created uploaded on someone else's channel please use the report button on the video's page. We will be happy to look into it.
        </div>

        <div class="padding-vertical mid-text">
          No pornography.
        </div>

        <div class="padding-vertical">
          There are other websites for that.
        </div>

        <div class="padding-vertical mid-text">
          Do not spam.
        </div>

        <div class="padding-vertical">
          That includes uploading videos and the commment section. Tea Tree is clean, not lame. Keep it that way.
        </div>

        <div class="padding-vertical mid-text">
          Do not abuse or harass others.
        </div>

        <div class="padding-vertical">
          Don't be that guy or gal. We don't want our comment sections to be like some others site's comment section. We want it to be a place for productive discussion. Not toxicity. If you can't keep from being toxic to others, maybe you should get off of the internet.
        </div>

      </div>
    </div>
  </div>
</div>