<%= provide(:title, "Guidelines") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical-large">
      <div class="mid-container">

        <div class="category-image-container link-color">
          <img class="thumbnail-image" src="https://i.imgur.com/LiJwzvs.jpg">
          <div class="category-image-centered mid-text">
            Guidelines
          </div>
        </div>

      </div>
    </div>

    <div class="padding-bottom-large">
      <div class="form-container form-border">

        <div class="padding-bottom">
          I got sick of trying to watch videos on other platforms only to be slapped in the face with ad after ad after ad. Not to mention the crazy clickbait videos that are 10 minutes and 2 seconds long just to squeeze every bit of ad revenue out.
        </div>

        <div class="padding-vertical">
          Tea Tree was born on September 19th in the mind of Alex Heil and then scribbled on to a piece of scrap paper moments after. Later it was spaghetti coded together to created what you see here.
        </div>

        <div class="padding-vertical">
          I don’t care if Tea Tree gets as popular as some other video platforms.
        </div>

        <div class="padding-vertical">
          I do care about the quality users and quality creators. 85 percent of your subscription fee (if there even is one) goes towards the creators. Directly support your favorite creators. They earned it, they deserve it, they keep it.
        </div>

        <div class="padding-vertical">
          Tea Tree is updating <i>literally</i> every day. I'm open to suggestions, so if you've got one, send something juicy on social media!
        </div>

        <div class="padding-vertical">
          Tea Tree is going to be the best place to upload great video content. Tired of lame videos with millions upon millions of ads? Tea Tree is your new home.
        </div>

        <div class="padding-vertical">
          Tea Tree is where quality video belongs.
        </div>

        <div class="padding-vertical">
          Long live quality created content!
        </div>

        <div class="padding-vertical mid-text">
          Catch up on social media
        </div>

        <div class="padding-vertical">
          Twitter - <a href="https://twitter.com/teatreetv">@teatreetv</a>
        </div>

        <div class="padding-vertical">
          Facebook - <a href="https://facebook.com/teatreetv">@teatreetv</a>
        </div>

        <div class="padding-top">
          Instagram - <a href="https://instagram.com/teatreetv">@teatreetv</a>
        </div>

      </div>
    </div>
  </div>
</div>