<div class="wrapper">
  <div class="container">

    <div class="padding-vertical-large">
      <div class="mid-container">

        <img class="thumbnail-image" src="https://i.imgur.com/4t1CHzA.jpg">

      </div>
    </div>

    <div class="padding-bottom-large">

      <div class="center padding-bottom-large mid-text">
        You are now a member of Tea Tree!
      </div>

      <div class="form-container form-border">

        <div class="padding-bottom">
          Congratulations!
        </div>

        <div class="padding-vertical">
          You're able to upload videos, grab subscribers, and keep eighty-five percent of the revenue you bring in.
        </div>

        <div class="padding-vertical">
          Not only that, but you're contributing to the success of Tea Tree and, more importantly, all of the amazing content creators.
        </div>

        <div class="padding-vertical">
          Thank you! We personally can't wait to see the next thing <i>you</i> create.
        </div>

        <div class="padding-top">
          <%= link_to "Let's get ya started.", root_url %>
        </div>

      </div>
    </div>

  </div>
</div>