<div class="wrapper">
  <div class="container">

    <div class="padding-vertical-large">
      <div class="mid-container">

        <img class="thumbnail-image" src="https://i.imgur.com/Ia3I7XE.jpg">

      </div>
    </div>

    <div class="padding-bottom-large">

      <div class="center padding-bottom-large mid-text">
        You've set up a merchant account on Tea Tree!
      </div>

      <div class="form-container form-border">

        <div class="padding-bottom">
          Awesome!
        </div>

        <div class="padding-vertical">
          You do have a few more steps though... sorry, we know it's annoying, but it'll be worth it.
        </div>

        <div class="padding-vertical">
          Actually, all you've got to do is finish setting up your merchant, if you haven't already.
        </div>

        <div class="padding-vertical">
          Then you just have to make a plan if you want to start getting subscriptions. <%= link_to "Speaking of setting up a plan, you can do that here.", new_user_plan_url(@user) %>
        </div>

        <div class="padding-vertical">
          And that's pretty much it! See it wasn't too bad.
        </div>

        <div class="padding-top">
          <%= link_to "I'll see you over on Bloo Tee Vee.", root_url %>
        </div>

      </div>
    </div>

  </div>
</div>